<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/images/banner-about.jpg" alt="">
    </section>
    <section class="about-container max-center">
      <div class="title">关于我们</div>
      <div class="content">
        众晟云（北京）信息技术有限公司专注品牌事业十余年，是一家兼具国际视野、创新动力、全方位跨平台的品牌咨询与设计整合服务公司。公司业务涉及大数据、智能多媒体、物联网、云计算等。目前已为上百家国内外优秀企业及提供了专业的网络解决方案。在为客户服务的过程中，我们发现网络的高性能越来越重要，因而自2018年开始，我们着重于为客户提高网络效能业务，向广大客户推荐迈络思网络生态方案，为客户打造低延迟，不丢包的网络环境。
      </div>
    </section>
    <section class="map-container max-center">
      <div class="title-box">
        <span>在线地图</span>
      </div>
      <div id="map" class="map" data-x="116.303332" data-y="40.039841" data-size="17" data-title="众晟云（北京）信息技术有限公司" data-content="马连洼北路8号B座605室">

      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=xL6cMDfAP1LWxavjRBMlbtG2XwNbAhlW"></script>
</body>

</html>