<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/images/banner-product.jpg">
    </section>
    <section class="product-container max-center">
      <div class="left-layout">
        <div class="swiper-container product-swiper">
          <ul class="product-list swiper-wrapper">
            <li class="swiper-slide product-item">
              <img src="/public/images/pro.png">
            </li>
            <li class="swiper-slide product-item">
              <img src="/public/images/pro.png">
            </li>
            <li class="swiper-slide product-item">
              <img src="/public/images/pro.png">
            </li>
            <li class="swiper-slide product-item">
              <img src="/public/images/pro.png">
            </li>
            <li class="swiper-slide product-item">
              <img src="/public/images/pro.png">
            </li>
            <li class="swiper-slide product-item">
              <img src="/public/images/pro.png">
            </li>
          </ul>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div class="swiper-container product-thumb-swiper">
          <ul class="thumb-list swiper-wrapper">
            <li class="thumb-item swiper-slide">
              <img src="/public/images/pro.png">
            </li>
            <li class="thumb-item swiper-slide">
              <img src="/public/images/pro.png">
            </li>
            <li class="thumb-item swiper-slide">
              <img src="/public/images/pro.png">
            </li>
            <li class="thumb-item swiper-slide">
              <img src="/public/images/pro.png">
            </li>
            <li class="thumb-item swiper-slide">
              <img src="/public/images/pro.png">
            </li>
            <li class="thumb-item swiper-slide">
              <img src="/public/images/pro.png">
            </li>
          </ul>
        </div>
      </div>
      <div class="right-layout">
        <div class="title">NVIDIA MCX4121A-ACAT ConnectX-4 Lx EN Adapter Card 25GbE</div>
        <div class="desc"><span>MPN :</span>MCX4121A-ACAT</div>
        <div class="price"><span>$488.00</span>MSRP*</div>
        <div class="params">
          <table>
            <tr>
              <td>Availability :</td>
              <td>Backordered</td>
            </tr>
            <tr>
              <td>Technology :</td>
              <td>Ethernet</td>
            </tr>
            <tr>
              <td>Max Speed :</td>
              <td>25GbE</td>
            </tr>
            <tr>
              <td>Connector Type :</td>
              <td>SFP28</td>
            </tr>
            <tr>
              <td>Ports :</td>
              <td>Dual</td>
            </tr>
            <tr>
              <td>ECCN :</td>
              <td>5A991</td>
            </tr>
          </table>
        </div>
        <div class="btns">
          <a href="">Buy From Partners</a>
          <a href="">See Buying Options</a>
        </div>
      </div>
    </section>
    <section class="description-container max-center">
      <div class="title-box">
        <span>Description</span>
      </div>
      <div class="content">
        <p style="font-weight: bold;margin-bottom: 30px">
          NVIDIA MCX4121A-ACAT ConnectX-4 Lx EN Adapter Card 25GbE Dual-Port SFP28 PCIe 3.0 x8 ROHS R6
        </p>
        <p style="margin-bottom: 20px;font-weight: bold;">ConnectX-4 Lx EN Ethernet Adapter Cards</p>
        <p style="margin-bottom: 20px">
          ConnectX-4 Lx EN network interface card with 25Gb/s Ethernet connectivity addresses virtualized infrastructure challenges, delivering best-in-class and highest performance to various demanding markets and applications. Providing true hardware-based I/O isolation with unmatched scalability and efficiency, achieving the most cost-effective and flexible solution for Web 2.0, Cloud, data analytics, database, and storage platforms.
        </p>
        <p style="margin-bottom: 20px">
          With the exponential increase in usage of data and the creation of new applications, the demand for the highest throughput, lowest latency, virtualization and sophisticated data acceleration engines continues to rise. ConnectX-4 Lx EN enables data centers to leverage the world's leading interconnect adapter for increasing their operational efficiency, improving server utilization, maximizing applications productivity, while reducing total cost of ownership (TCO).
        </p>
        <p style="margin-bottom: 20px">
          ConnectX-4 Lx EN adapter cards provide a combination of 1 and 10 GbE bandwidth, sub-microsecond latency and a 75 million packets per second message rate. They include native hardware support for RDMA over Converged Ethernet (RoCE), Ethernet stateless offload engines, Overlay Networks, GPUDirect technology and Multi-Host technology.
        </p>

      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>