<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/images/banner-case.png" alt="">
    </section>
    <section class="content-container max-center">
      <h1 class="title">
        RozoFS 和 Mellanox 以太网交换机提供 高性能横向扩展 NAS 解决方案</h1>
      <div class="other-into">
        发表时间：2020-07-20 11:06
      </div>
      <div class="content">
        <p style="font-size:14px;line-height:2;color:#333;margin-bottom:20px">
          　　随着数据呈指数级增长(包括文件的大小和数 量)以及访问 NAS 系统的工作负载并行性的提 升，当前 NAS(网络连接存储)系统为了跟上 这种趋势，于是横向扩展 NAS 概念就出现了。
          虽然大量数据和密集的并行工作负载需要可扩 展性，但大多数应用程序仍然需要与传统 NAS 系统完全相同的功能 — 标准文件系统接口、 相同的文件访问性能、数据完整性和高可用 性。所有这一切都必须以相同甚至更低的成本
          来实现。 Rozo Systems 采用创新方法，通过 RozoFS 文 件系统满足这些要求。RozoFS 提供实时性能以 及高级别的数据保护。它消除了高容量分布式 存储系统通常具有的低速、弹性差和额外成本 等弊端。
        </p>
        <p style="font-size:14px;line-height:2;color:#333;margin-bottom:20px">
          Rozo 横向扩展 NAS 解决方案
        </p>
        <p style="font-size:14px;line-height:2;color:#333;margin-bottom:20px">
          Rozo Systems 的横向扩展 NAS 解决方案是 从头开始构建的，以提供所需的性能、数据保 护和可扩展性。例如，Rozo Systems 开发了 原创的纠删码机制，而不是使用标准复制机
          制，以便为大型分布式存储提供数据保护。因 此，Rozo 解决方案加快了性能，避免了标准纠 删码机制的典型性能下降问题。
        </p>
        <p style="font-size:14px;line-height:2;color:#333;margin-bottom:20px">
          Rozo 的横向扩展 NAS 解决方案提供以下 功能： - 可扩展到数十或数百 PB：只需通过简单地 添加服务器即可扩展存储容量，实现相关性 能的线性增长，并且服务和 QoS 都不会发生 中断。 -
          实时性能：对于任何工作负载都能提供高 IO 吞吐量和低延迟。 - 强大的数据保护：对所有文件应用纠删码， 透明的数据完整性检查和自我修复 - 节省成本：没有数据复制，无需在性能和数 据保护之间权衡取舍，随增长付费
        </p>
        <p style="font-size:14px;line-height:2;color:#333;margin-bottom:20px">
          Mellanox 以太网交换机
        </p>
        <p style="font-size:14px;line-height:2;color:#333;margin-bottom:20px">
          在文件系统集群的 PB 级存储中实现性能的线 性扩展，以及对多用户实时应用程序的支持 都需要集群具有可扩展、快速的网络互连。 构成集群的服务器节点通常配备 8 个 CPU 内 核、32GB 以上的内存，以及高达 80TB
          的本 地数据存储。为了充分利用 CPU、内存和主存 储的能力，高性能网络至关重要。
        </p>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>