<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-container">
    <div class="banner-swiper swiper-container">
      <ul class="banner-list swiper-wrapper">
        <li class="banner-item swiper-slide">
          <img src="/public/images/banner.png" alt="">
        </li>
        <li class="banner-item swiper-slide">
          <img src="/public/images/banner.png" alt="">
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <section class="info-container">
    <ul class="info-list max-center">
      <li class="info-item">
        <div class="title">高带宽</div>
        <div class="cont">
          迈络思支持<br>
          10/25/40/56/100/200G<br>
          等不同带宽的网口速率
        </div>
      </li>
      <li class="info-item">
        <div class="title">低延迟</div>
        <div class="cont">
          迈络思的交换机<br>
          延迟为300纳秒<br>
          保证了数据读取的高效
        </div>
      </li>
      <li class="info-item">
        <div class="title">不丢包</div>
        <div class="cont">
          迈络思网络生态<br>
          可实现零丢包<br>
          支持数据传输的完整性
        </div>
      </li>
      <li class="info-item">
        <div class="title">RDMA</div>
        <div class="cont">
          迈络思的核心技术：<br>
          10/25/40/56/100/200G<br>
          等不同带宽的网口速率
        </div>
      </li>
    </ul>
  </section>
  <!-- <section class="product-container">
    <div class="title-module">
      <div class="title">产品中心</div>
      <div class="subtitle">Product Center</div>
    </div>
    <ul class="tab-list">
      <li class="tab-item on">交换机</li>
      <li class="tab-item">网卡</li>
      <li class="tab-item">线缆</li>
    </ul>
    <ul class="pro-cate-list max-center">
      <li class="pro-cate-item">
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R</p>
        </a>
      </li>
      <li class="pro-cate-item">
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R2</p>
        </a>
      </li>
      <li class="pro-cate-item">
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
        <a href="" class="pro-item">
          <div class="img">
            <img src="/public/images/pro1.jpg" alt="">
          </div>
          <p>Mellanox MSN2010-CB2R3</p>
        </a>
      </li>

    </ul>
  </section> -->
  <section class="news-container">
    <div class="title-module">
      <div class="title">新闻中心</div>
      <div class="desc">NEWS</div>
    </div>
    <!-- <nav class="news-cate-list max-center">
      <a href="" class="news-cate-item on">公司动态</a>
      <a href="" class="news-cate-item">行业资讯</a>
    </nav> -->
    <div class="news-box max-center">
      <div class="news-box-list">
        <div class="news-box-item">
          <div class="left-layout">
            <a href="">
              <div class="img">
                <img src="/public/images/news.png" alt="">
                <!-- <div class="date">
                  <div class="day">07</div>
                  <div class="time">2022-09</div>
                </div> -->
              </div>
              <div class="text">
                <div class="title">这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，...
                </div>
              </div>
            </a>
          </div>
          <div class="right-layout">
            <ul class="news-list">
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="news-box-item">
          <div class="left-layout">
            <a href="">
              <div class="img">
                <!-- <img src="/public/imgs/home/news-img1.jpg" alt=""> -->
                <div class="date">
                  <div class="day">07</div>
                  <div class="time">2022-09</div>
                </div>
              </div>
              <div class="text">
                <div class="title">电线电缆CPR认证</div>
                <div class="desc">
                  这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，这里是新闻的摘要内容，...
                </div>
              </div>
            </a>
          </div>
          <div class="right-layout">
            <ul class="news-list">
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
              <li class="news-item">
                <div class="title">这里是新闻的标题这里是新闻的标题</div>
                <div class="desc">
                  这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分，这里是新闻的摘要部分。...
                </div>
                <div class="other">
                  <div class="date">2022.05.22</div>
                  <a href="" class="more">MORE</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="partner-container">
    <div class="title-module">
      <div class="title">合作伙伴</div>
      <div class="subtitle">Partner</div>
    </div>
    <ul class="partner-list max-center">
      <li class="partner-item">
        <a href="" class="partner-box">
          <img src="/public/images/logo.png" alt="">
        </a>
      </li>
      <li class="partner-item">
        <a href="" class="partner-box">
          <img src="/public/images/logo.png" alt="">
        </a>
      </li>
      <li class="partner-item">
        <a href="" class="partner-box">
          <img src="/public/images/logo.png" alt="">
        </a>
      </li>
      <li class="partner-item">
        <a href="" class="partner-box">
          <img src="/public/images/logo.png" alt="">
        </a>
      </li>
      <li class="partner-item">
        <a href="" class="partner-box">
          <img src="/public/images/logo.png" alt="">
        </a>
      </li>
      <li class="partner-item">
        <a href="" class="partner-box">
          <img src="/public/images/logo.png" alt="">
        </a>
      </li>
      <li class="partner-item">
        <a href="" class="partner-box">
          <img src="/public/images/logo.png" alt="">
        </a>
      </li>
      <li class="partner-item">
        <a href="" class="partner-box">
          <img src="/public/images/logo.png" alt="">
        </a>
      </li>
      <li class="partner-item">
        <a href="" class="partner-box">
          <img src="/public/images/logo.png" alt="">
        </a>
      </li>
      <li class="partner-item">
        <a href="" class="partner-box">
          <img src="/public/images/logo.png" alt="">
        </a>
      </li>
    </ul>
  </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>