<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-container">
    <img src="/public/images/banner-case.jpg" alt="">
  </section>
  <section class="support-container max-center">
    <div class="title-box">
      <span>支持</span>
    </div>
    <ul class="support-list">
      <li class="support-item">
          <div class="text">
            <div class="title">
              <a href="https://network.nvidia.com/support/firmware/firmware-downloads/">固件下载</a>
            </div>
          </div>
          <a href="https://network.nvidia.com/support/firmware/firmware-downloads/"><i class="icon iconfont icon-cloud-download"></i></a>
      </li>
      <li class="support-item">
          <div class="text">
            <div class="title">
              <a href="https://developer.nvidia.com/networking/ethernet-software">以太网驱动程序</a>
            </div>
          </div>
          <a href="https://developer.nvidia.com/networking/ethernet-software"><i class="icon iconfont icon-cloud-download"></i></a>
      </li>
      <li class="support-item">
          <div class="text">
            <div class="title">
              <a href="https://developer.nvidia.com/networking/infiniband-software">InfiniBand/VPI驱动程序</a>
            </div>
          </div>
          <a href="https://developer.nvidia.com/networking/infiniband-software"><i class="icon iconfont icon-cloud-download"></i></a>
      </li>
    </ul>
  </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>