<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/images/banner-product.jpg" alt="">
    </section>
    <main class="main-container max-center">
      <div class="page-title">以太网产品（需添加后台）</div>
      <div class="pro-content">
        NVIDIA 网络为您的数据中心提供完整的以太网解决方案，从服务器连接到电缆再到交换，堪称面面俱到，助力您从竞争中脱颖而出。这些端到端解决方案可跨各种应用领域（例如云计算、数据存储、人工智能等）提供行业领先的性能、可扩展性、可靠性和价值。 //这一句是总体对以太网产品的简介
      </div>
      <div class="content-box">
        <aside class="select-product-container">
          <a class="reset-filters">Reset Filters</a>
          <ul class="filter-list">
            <li class="filter-item">
              <div class="title">交换机 </div>
              <a href="" class="filter on">
                <i></i>
                <span>25G </span>
              </a>
              <a href="" class="filter">
                <i></i>
                <span>100G </span>
              </a>
              <a href="" class="filter">
                <i></i>
                <span>200G</span>
              </a>
              <a href="" class="filter">
                <i></i>
                <span>400G</span>
              </a>
            </li>
            <li class="filter-item">
              <div class="title">网卡</div>
              <a href="" class="filter">
                <i></i>
                <span>25G </span>
              </a>
              <a href="" class="filter">
                <i></i>
                <span>100G </span>
              </a>
              <a href="" class="filter">
                <i></i>
                <span>200G</span>
              </a>
              <a href="" class="filter">
                <i></i>
                <span>400G</span>
              </a>
            </li>
            <li class="filter-item">
              <div class="title">线缆</div>
              <a href="" class="filter">
                <i></i>
                <span>25G </span>
              </a>
              <a href="" class="filter">
                <i></i>
                <span>100G </span>
              </a>
              <a href="" class="filter">
                <i></i>
                <span>200G</span>
              </a>
              <a href="" class="filter">
                <i></i>
                <span>400G</span>
              </a>
            </li>
          </ul>
        </aside>
        <section class="product-container">
          <div class="num">400 results found</div>
          <ul class="product-list">
            <li class="product-item">
                <div class="left-layout">
                  <a href="product_view.html" class="img">
                    <img src="/public/images/pro1.jpg" alt="">
                  </a>
                  <div class="text">
                    <a href="product_view.html" class="title">NVIDIA MSN4600-CS2F Spectrum-3 100GbE 2U Open Ethernet Switch</a>
                    <ul class="specs-list">
                      <li class="specs-item">echnology: Ethernet</li>
                      <li class="specs-item">Max Speed: 100GbE</li>
                      <li class="specs-item">Connector Type: QSFP28</li>
                      <li class="specs-item">Ports: 64x100GbE</li>
                      <li class="specs-item">Operating System: Onyx</li>
                    </ul>
                  </div>
                </div>
                <div class="right-layout">
                  <div class="info">$65,159.00 MSRP*</div>
                  <a href="product_view.html" class="btn">Buy Now</a>
                </div>
            </li>
            <li class="product-item">
                <div class="left-layout">
                  <a href="product_view.html" class="img">
                    <img src="/public/images/pro1.jpg" alt="">
                  </a>
                  <div class="text">
                    <a href="product_view.html" class="title">NVIDIA MSN4600-CS2F Spectrum-3 100GbE 2U Open Ethernet Switch</a>
                    <ul class="specs-list">
                      <li class="specs-item">echnology: Ethernet</li>
                      <li class="specs-item">Max Speed: 100GbE</li>
                      <li class="specs-item">Connector Type: QSFP28</li>
                      <li class="specs-item">Ports: 64x100GbE</li>
                      <li class="specs-item">Operating System: Onyx</li>
                    </ul>
                  </div>
                </div>
                <div class="right-layout">
                  <div class="info">$65,159.00 MSRP*</div>
                  <a href="product_view.html" class="btn">Buy Now</a>
                </div>
            </li>
            <li class="product-item">
                <div class="left-layout">
                  <a href="product_view.html" class="img">
                    <img src="/public/images/pro1.jpg" alt="">
                  </a>
                  <div class="text">
                    <a href="product_view.html" class="title">NVIDIA MSN4600-CS2F Spectrum-3 100GbE 2U Open Ethernet Switch</a>
                    <ul class="specs-list">
                      <li class="specs-item">echnology: Ethernet</li>
                      <li class="specs-item">Max Speed: 100GbE</li>
                      <li class="specs-item">Connector Type: QSFP28</li>
                      <li class="specs-item">Ports: 64x100GbE</li>
                      <li class="specs-item">Operating System: Onyx</li>
                    </ul>
                  </div>
                </div>
                <div class="right-layout">
                  <div class="info">$65,159.00 MSRP*</div>
                  <a href="product_view.html" class="btn">Buy Now</a>
                </div>
            </li>
            <li class="product-item">
                <div class="left-layout">
                  <a href="product_view.html" class="img">
                    <img src="/public/images/pro1.jpg" alt="">
                  </a>
                  <div class="text">
                    <a href="product_view.html" class="title">NVIDIA MSN4600-CS2F Spectrum-3 100GbE 2U Open Ethernet Switch</a>
                    <ul class="specs-list">
                      <li class="specs-item">echnology: Ethernet</li>
                      <li class="specs-item">Max Speed: 100GbE</li>
                      <li class="specs-item">Connector Type: QSFP28</li>
                      <li class="specs-item">Ports: 64x100GbE</li>
                      <li class="specs-item">Operating System: Onyx</li>
                    </ul>
                  </div>
                </div>
                <div class="right-layout">
                  <div class="info">$65,159.00 MSRP*</div>
                  <a href="product_view.html" class="btn">Buy Now</a>
                </div>
            </li>
  
          </ul>
        </section>
      </div>
    </main>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>