<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-container">
    <img src="/public/images/banner-case.jpg" alt="">
  </section>
  <section class="case-container max-center">
    <div class="title-box">
      <span>应用案例</span>
      <a href="" class="more">更多&gt;&gt;</a>
    </div>
    <ul class="case-list">
      <li class="case-item">
        <a href="case_view.html" class="case-box">
          <div class="img">
            <img src="/public/images/news.png" alt="">
          </div>
          <div class="text">
            <div class="title">RozoFS 和 Mellanox 以太网交换机提供 高性能横向扩展 NAS 解决方案</div>
            <div class="desc">
              Mellanox 以太网产品为 RozoFS 集群文件系统提供高性能和低成 本，可线性扩展到数百个 PB 的存储容量。　　随着数据呈指数级增长(包括文件的大小和数 量)以及访问 NAS 系统的工作负载并行性的提 升，当前 NAS(网络连...
            </div>
            <div class="date">2020-07-20</div>
          </div>
        </a>
      </li>
      <li class="case-item">
        <a href="case_view.html" class="case-box">
          <div class="img">
            <img src="/public/images/news.png" alt="">
          </div>
          <div class="text">
            <div class="title">RozoFS 和 Mellanox 以太网交换机提供 高性能横向扩展 NAS 解决方案</div>
            <div class="desc">
              Mellanox 以太网产品为 RozoFS 集群文件系统提供高性能和低成 本，可线性扩展到数百个 PB 的存储容量。　　随着数据呈指数级增长(包括文件的大小和数 量)以及访问 NAS 系统的工作负载并行性的提 升，当前 NAS(网络连...
            </div>
            <div class="date">2020-07-20</div>
          </div>
        </a>
      </li>
      <li class="case-item">
        <a href="case_view.html" class="case-box">
          <div class="img">
            <img src="/public/images/news.png" alt="">
          </div>
          <div class="text">
            <div class="title">RozoFS 和 Mellanox 以太网交换机提供 高性能横向扩展 NAS 解决方案</div>
            <div class="desc">
              Mellanox 以太网产品为 RozoFS 集群文件系统提供高性能和低成 本，可线性扩展到数百个 PB 的存储容量。　　随着数据呈指数级增长(包括文件的大小和数 量)以及访问 NAS 系统的工作负载并行性的提 升，当前 NAS(网络连...
            </div>
            <div class="date">2020-07-20</div>
          </div>
        </a>
      </li>
    </ul>
  </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>